@font-face {
    font-family: "Cormorant Garamond";
    src: url("../fonts/CormorantGaramond-Regular.woff") format("woff");
    url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #F5F4F2;
}

.main__content {
    width: 100%;
    max-width: 2000px;
    min-height: calc(100vh - 68px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.cards__card {
    width: 300px;
    aspect-ratio: 2 / 3;
    cursor: pointer;
    transition: 0.3s ease;
}

.cards__card:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
}

.cards__card-link {
    width: 100%;
    height: 100%;
    display: flex;
}

.cards__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards__empty {
    font-size: 20px;
    margin-top: 20px;
    opacity: 0.6;
}