@font-face {
    font-family: "Cormorant Garamond";
    src: url("../fonts/CormorantGaramond-Regular.woff") format("woff");
        url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #F5F4F2;
}

.main__content {
    width: 100%;
    max-width: 2000px;
    min-height: calc(100vh - 68px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.card-create {
    display: flex;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 16px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-create__form {
    display: flex;
    gap: 40px;
    width: 100%;
}

.card-create__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-create__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-create__image {
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.card-create__file-label {
    display: inline-block;
    padding: 8px 14px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: 0.2s;
    width: 100%;
}

.card-create__file-label:hover {
    background-color: #f0f0f0;
}

.card-create__file-input {
    display: none;
}

.card-create__right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-create__title {
    font-size: 24px;
    font-weight: bold;
}

.card-create__error {
    color: red;
    font-size: 18px;
}

.card-create__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-create__field-label {
    font-weight: bold;
    font-size: 14px;
}

.card-create__input-text,
.card-create__textarea,
.card-create__select {
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

.card-create__textarea {
    resize: none;
    min-height: 80px;
    overflow-y: auto;
}

.card-create__submit {
    margin-top: auto;
    padding: 12px 15px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.card-create__submit:hover {
    background-color: #555;
}