@font-face {
    font-family: "Cormorant Garamond";
    src: url("../fonts/CormorantGaramond-Regular.woff") format("woff");
    url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #F5F4F2;
}

.main__content {
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.error {
    text-align: center;
    color: #333;
}

.error__image {
    width: 150px;
    margin-bottom: 20px;
}

.error__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.error__text {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.error__link {
    padding: 10px 28px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.25s ease;
}

.error__link:hover {
    background-color: #555;
}